<!-- templates/_navbar.html -->
<nav class="navbar">
  <ul>
    <li class="{{ 'active' if request.path == '/' else '' }}">
      <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='icons/home.png') }}" alt="Home" />
      </a>
    </li>
    <li class="{{ 'active' if request.path == '/sankey' else '' }}">
      <a href="{{ url_for('sankey') }}">
        <img src="{{ url_for('static', filename='icons/sankey.png') }}" alt="Sankey" />
      </a>
    </li>
    <li class="{{ 'active' if request.path == '/about' else '' }}">
      <a href="{{ url_for('about') }}">
        <img src="{{ url_for('static', filename='icons/about.png') }}" alt="About" />
      </a>
    </li>
  </ul>
</nav>
